header{% extends 'layout.html' %}
{% block body %} 
<section>
  {% if error != 'none' %}
  <div class="mx-auto text-center col-md-7 alert alert-primary alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <strong>{{error}}</strong> 
  </div>   
  {% endif %}
<br>
<div class="container bg-light bg-menu py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">Menu:</h2>

  <div class="row row-cols-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#table"/></svg>
      <div>
        <a class = 'text-dark lead' style = 'text-decoration:none;' href = "{{url_for('new_report')}}"><h4 class="fw-bold mb-0">New Report</h4></a>
        
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
      <div>
        <a class = 'text-dark lead' style = 'text-decoration:none;' href = "{{url_for('reports',error='none')}}"><h4 class="fw-bold mb-0">View Reports</h4></a>
       
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"/></svg>
      <div>
        <a class = 'text-dark lead' style = 'text-decoration:none;' href = "{{url_for('update_profile')}}"><h4 class="fw-bold mb-0">Profile</h4></a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
      <div>
        <a class = 'text-danger lead' style = 'text-decoration:none;' href = "{{url_for('logout')}}"><h4 class="fw-bold mb-0">Log Out</h4></a>
        
      </div>
    </div>
  

  </div>
</div>
        <br><br>
        <!-- END nav -->
      </div>
    
      </section>
    
{% endblock %}
     