<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Petalm Africa</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/style2.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/style2.css')}}">
  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename = 'css/scrolling-nav.css')}}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"> <img height =79 width=112 src='{{url_for("static", filename="images/Petalm-logo.png")}}'></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Log Out</a>
          </li>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-light text-white">
    <div class="container text-dark text-center">
      <h1>ZIMRA F2 Form</h1>
    </div>
  </header>
  <section class="ftco-section"  id="services" class="bg-light">
     <div class="container col-md-7">
      <nav class="navbar navbar-expand-md container bg-light" >
               <div class="container col-md-11 bg-light ">
              <div class="col-md-12 mx-auto bg-light" >
                <br>
                <form action = '{{ url_for("index")}}' enctype='multipart/form-data' method = 'POST'>
                
                  <div class="form-floating col-md-10 mx-auto mb-3">
                  <input type="text" required name='ename' class="form-control" id="floatingInput" placeholder="1. Employer's Name">
                  <label for="floatingInput">1. Employer's Name</label>
                  </div>
                  <div class="form-floating col-md-10 mx-auto mb-3">
                  <input type="text" required name='tname'  class="form-control" id="floatingPassword" placeholder="Trade Name">
                  <label for="floatingPassword">2. Trade Name</label>
                  </div>
                  
                  <div class="form-floating col-md-10 mx-auto mb-3">
                  <input type="number" required name='btnum' class="form-control" id="floatingInput" placeholder="BusinessPartner Number">
                  <label for="floatingInput">3. BusinessPartner Number</label>
                  </div>
                  <div class="form-floating col-md-10 mx-auto mb-3">
                  <input type="number" required name='paye'  class="form-control" id="floatingInput" placeholder="PAYE Number">
                  <label for="floatingInput">4. PAYE Number</label>
                  </div>
                  
                  <div class="form-floating col-md-10 mx-auto mb-3">
                  <input type="text" required name = 'tin' class="form-control" id="floatingPassword" placeholder="TIN ">
                  <label for="floatingPassword">5. TIN </label>
                  </div>
                 
                  <div class="form-floating col-md-10 mx-auto mb-3">
                  <input type="text" required name= 'address' class="form-control" id="floatingInput" placeholder="Physical Address">
                  <label for="floatingInput">6. Physical Address</label>
                  </div>
                  <div class="form-floating col-md-10 mx-auto mb-3">
                  <input type="text" required name = 'postal' class="form-control" id="floatingPassword" placeholder=" Postal Address">
                  <label for="floatingPassword">7. Postal Address</label>
                  </div>
                  
                  <div class="form-floating col-md-10 mx-auto mb-3">
                  <input type="date" required name = 'tax_period' class="form-control" id="floatingInput" placeholder="Tax Period">
                  <label for="floatingInput">8. Tax Period</label>
                  </div>
                  <div class="form-floating col-md-10 mx-auto mb-3">
                  <input type="date" required name = 'due_date' class="form-control" id="floatingPassword" placeholder="Due Date">
                  <label for="floatingPassword">9. Due Date</label>
                  </div>
                  
                  <div class="form-floating col-md-10 mx-auto mb-3">
                  <input type="email" required name = 'email' class="form-control" id="floatingInput" placeholder="E-mail address">
                  <label for="floatingInput">10. E-mail address</label>
                  </div>
                  <div class="form-floating col-md-10 mx-auto mb-3">
                  <input type="tel" required name= 'cell' class="form-control" id="floatingPassword" placeholder="Cell number">
                  <label for="floatingPassword">11. Cell number</label>
                  </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <label for="floatingInput">12. Excel File</label>
                  <br><div class="form-floating col-md-10 mx-auto mb-3">
                  <input type="file" required name='file' class="form-control" id="floatingInput" placeholder="1. Excel File">
                  
                  </div>      
            
                   <div class="form-floating col-md-10 mx-auto mb-3">
                  <button type="submit" class="btn btn-primary">Save Report</button>
                  <a href="{{ url_for('reports') }}"><button type="button" class="btn btn-warning ">Reports</button></a>
                  </div>
                  
                </form>
                <br>
                </div>
               
                    </div>
          </div>
      </nav>
      <br><br><br><br>
    <!-- END nav -->
  </div>

  </section>
  
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Petalm Africa Group 2022</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{{url_for('static', filename = 'js/scrolling-nav.js')}}"></script>


<script src="js/jquery.min.js {{url_for('static', filename = 'js/jquery.min.js')}}"></script>
<script src=" {{url_for('static', filename = 'js/popper.js')}}"></script>
<script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
<script src=" {{url_for('static', filename = 'js/main.js')}}"></script>
<script src=" {{url_for('static', filename = 'js/main1.js')}}"></script>
</body>
</html>
